<a href="https://colab.research.google.com/github/Fonteeres/Google-Colab/blob/master/Analisis-Automatico1/RegresionyClasificacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd 
import numpy as np
df_vino = pd.read_csv('/content/drive/MyDrive/Aprendizaje_Automatico_1/set_datos/winequality-white.csv', sep=';')
df_vino

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [ ]:
df_vino_x = df_vino.drop(["quality"], axis = 1)
df_vino_x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

In [ ]:
df_vino_y = df_vino['quality']
df_vino_y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_vino_x, df_vino_y, test_size=0.2, random_state=123)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
Arbol = DecisionTreeClassifier(random_state=45)

In [ ]:
Arbol.fit(X_train,y_train)

DecisionTreeClassifier(random_state=45)

In [ ]:
Prediccion = Arbol.predict(X_test)
df_Prediccion = pd.DataFrame({'Actual':y_test, 'Prediccion':Prediccion})
df_Prediccion.head(70)

      Actual  Prediccion
1088       6           6
4366       6           6
92         7           7
2901       7           7
2330       6           6
...      ...         ...
1683       7           7
4303       6           6
2277       6           6
4747       6           7
2957       6           7

[70 rows x 2 columns]

In [ ]:
score = Arbol.score(X_test, y_test)
score

0.5877551020408164

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=3)

In [ ]:
KNN.fit(X_train,y_train)
KNN_Predict = KNN.predict(X_test)
df_KNN_Predict = pd.DataFrame({'Actual':y_test, 'Prediccion':KNN_Predict})
df_KNN_Predict.head(70)

      Actual  Prediccion
1088       6           5
4366       6           6
92         7           6
2901       7           6
2330       6           6
...      ...         ...
1683       7           7
4303       6           7
2277       6           6
4747       6           6
2957       6           6

[70 rows x 2 columns]

In [ ]:
KNN_score = KNN.score(X_test, y_test)
KNN_score

0.49081632653061225

In [ ]:
k_range = range(1,20)
df_Resultados = pd.DataFrame(columns=['Rango','Resultado'])
for k in k_range:
  KNN2 = KNeighborsClassifier(n_neighbors=k)
  KNN2.fit(X_train,y_train)
  score = KNN2.score(X_test,y_test)
  df_Resultados.append({'Rango': k}) 
  df_Resultados.append({'Resultado': score})
  
df_Resultados

TypeError: ignored